Chutes_api_key=your_chuetes_api_key
CHUTES_MODEL=moonshotai/Kimi-K2.6-TEE

GITHUB_CLIENT_ID=your_google_client_id_here
GITHUB_CLIENT_SECRET=your_google_client_secret_here

PORT=5432
DATABASE_URL=your_databasse_url